body {
    overflow: hidden;
    font-family: 'Comic Sans MS', sans-serif;
    background-color: #B3C8CF;
}

.menu * {
    display: inline;
}

.menu li {
    margin: 35px;
}

.menu li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.menu ul {
    padding-left: 0px;
}

.menu {
    font-size: 30px;
    align-items: center;
    text-align: center;
    padding-top: 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
}

.home {
    background-size: cover;
    text-align: center;
}

.home img {
    border-radius: 20%;
}

.myinfo {
    background-size: cover;
    text-align: center;
    padding-top: 316px;
    padding-bottom: 130px;
}

h1 {
    text-align: center;
}

.cat_img {
    width: 100%;
    height: 500px;
    padding-bottom: 60px;
}

.list {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}