<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
</head>
<body>
    <%-include('../inc/Top.ejs') %>
    <div class="container">
        <%-include('./ShopNav.ejs') %>
        <hr />
        <h2>삭제 기능</h2>
    </div>
</body>
</html>